# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg
*.egg-info/
dist/
build/
.eggs/
venv/
.venv/
env/

# Environment variables
.env
.env.*
!.env.example

# dbt
dbt_project/target/
dbt_project/dbt_packages/
dbt_project/logs/

# Airflow
logs/
airflow.db
airflow.cfg
webserver_config.py
standalone_admin_password.txt

# Pytest
.pytest_cache/
.coverage
htmlcov/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
